<mat-form-field [formGroup]="sharedForm" style="width: 100%">
  <input matInput [matAutocomplete]="auto" formControlName="sharedFormControl"
    placeholder="{{ placeholder | translate }}" [required]="required">
  <mat-error *ngIf="sharedForm.get('sharedFormControl').hasError('required')">
    {{errorMessage | translate }}
  </mat-error>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected($event.option)">
    <mat-option *ngFor="let entity of entities" [id]="entity.id" [value]="entity.fullNameWithEmail">
      <span>{{ entity.firstName }}&nbsp;{{ entity.surname }}</span> |
      <small>{{  entity.email }}</small>
    </mat-option>
  </mat-autocomplete>
 
</mat-form-field>
