<div class="marginClass">

</div>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <app-input-email  [required]="true" (notify)="onEmailChange($event)">
        </app-input-email>

        <app-input-password [placeholder]="'Password'" [required]="true" (notify)="onPasswordChange($event)">
        </app-input-password>
      </mat-card-content>
      <button mat-raised-button color="primary" class="btn-block" [disabled]="disable">Log in</button>
    </form>
  </mat-card>

</div>
