<mat-form-field [formGroup]="sharedForm" style="width:100%">
    <input matInput placeholder="{{placeholder | translate }}" formControlName="sharedFormControl" type="text"
           [required]="required" (keypress)="onChanges($event)"  min="0" >
    <span matPrefix>{{ currencySymbol}}&nbsp;</span>
    <mat-hint>{{ hint | translate}}</mat-hint>
    <mat-error *ngIf="sharedForm.get('sharedFormControl').hasError('required')">
        {{errorMessage | translate }}
    </mat-error>
</mat-form-field>