<mat-form-field [formGroup]="sharedForm" style="width: 100%">
    <input matInput [matAutocomplete]="auto" formControlName="sharedFormControl" placeholder="{{ placeholder | translate }}" [required]="required">
    <mat-error *ngIf="sharedForm.get('sharedFormControl').hasError('required')">
        {{errorMessage | translate }}
      </mat-error>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected($event.option)">
    <mat-option *ngFor="let entity of entities"  [id]="entity.id" [value]="entity.empNameDgCode">
      <span>{{ entity.firstName }}</span> |
      <small>{{  entity.designationName }}:{{  entity.employeeCode }}</small>
    </mat-option>
  
   
  </mat-autocomplete>

</mat-form-field>