<mat-form-field [formGroup]="sharedForm" style="width:100%">
  <input matInput placeholder="{{placeholderString | translate }}" formControlName="sharedFormControl"  [type]="hide ? 'password' : 'text'" [required]="required">
  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  <mat-hint>{{ hint | translate}}</mat-hint>
  <mat-error *ngIf="sharedForm.get('sharedFormControl').hasError('required')">
    {{requiredMessage | translate }}
  </mat-error>
</mat-form-field>