<div class="example-container">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <div class="example-table-container table-responsive">
    <table mat-table [dataSource]="entities" class="striped" matSort (matSortChange)="sortData($event)"
      *ngIf="entities && access.read">
      <ng-container *ngFor="let column of columns" matColumnDef="{{column.name}}">
        <th mat-header-cell *matHeaderCellDef>
          <!-- <span *ngIf="((column.name != 'select') && (column.sort)); else  hide_sort" matSort mat-sort-header
            matSortActive="{{column.name}}" disableClear matSortDirection="{{column.direction}}">{{column.label}}</span> -->

          <span
            *ngIf="(column.name != 'select') && (column.name != 'action') && (column.name != 'no') && (column.sort); else hide_sort"
            mat-sort-header>{{column.label | translate}}</span>

          <!-- <span *ngIf="((column.name != 'select') && (column.sort)); else  hide_sort" mat-sort-header>{{column.label | translate}}</span> -->
          <ng-template #hide_sort>
            <span *ngIf="(column.name != 'select');">{{column.label | translate}}</span>
          </ng-template>

          <span *ngIf="column.name == 'select' ">
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </span>
        </th>

        <td mat-cell *matCellDef="let element;let  i = index">
          <span *ngIf="column.name == 'no' ">
            {{i+index}}
          </span>
          <span *ngIf="column.name != 'action'">

            <span *ngIf="!column.dateFormat;else dateFormat">
              <span *ngIf="!column.sizeFormat;else sizeFormat">
                <!--{{element[column.name] }}-->
                <span *ngIf="!column.dateFormat2;else dateFormat2">
                  {{element[column.name] }}
                </span>
                <ng-template #dateFormat2>
                  {{element[column.name] | date:'MMMM, y' }}
                </ng-template>
              </span>
              <ng-template #sizeFormat>
                {{((element[column.name]/1024)/1024) | number:'1.1-2' }} {{'upload.mb' | translate}}
              </ng-template>
            </span>
            <ng-template #dateFormat>
              {{element[column.name] | date }}
            </ng-template>
          </span>


          <span *ngIf="column.name == 'action' ">
            <app-details-button [routerLink]="[editRoute,detailRoute, element.id]" *ngIf="detailRoute">
            </app-details-button>
            <app-download-button (click)="download(element)"></app-download-button>
           
              <app-delete-button (click)="delete(element)" *ngIf="access.delete"></app-delete-button>
           
          </span>
          <span *ngIf="column.name == 'select' ">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? toggle(element) : null"
              [checked]="selection.isSelected(element)">
            </mat-checkbox>
          </span>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"></tr>
    </table>

    <table *ngIf="!entities && !isLoadingResults">
      <tr>
        <td align="center">{{ 'tableList.noRecord' | translate }}</td>
      </tr>
    </table>

    <div [hidden]="!entities || !pagination">
      <mat-paginator [pageSizeOptions]="[5, 10, 20, all]" showFirstLastButtons (page)="getPaginatorData($event)">
      </mat-paginator>
    </div>
  </div>
</div>
