<div class="row">
    <div class="col-md-4">
        <app-input-string [placeholder]="'address.street'" (notify)="onStreetChanges($event)"
            [value]="street" [disabled]=" disabled ? true : false" [required]="required"></app-input-string>
    </div>
    <div class="col-md-4">
        <app-input-string [placeholder]="'address.city'"  (notify)="onCityChanges($event)"
            [value]="city" [disabled]=" disabled ? true : false" [required]="required"></app-input-string>
    </div>
    <div class="col-md-4">
        <mat-checkbox [(ngModel)]="isDefaultValue" (change)="onCheckboxChange()"  [disabled]="disabled" >{{'address.default' | translate }}</mat-checkbox>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <app-input-string [placeholder]="'address.postcode'" (notify)="onPostcodeChanges($event)"
            [value]="postcode" [disabled]=" disabled ? true : false" [required]="required"></app-input-string>
    </div>
    <div class="col-md-4">
        <app-country (notify)="onCountryChange($event)" [value]="countryId" [disabled]=" disabled ? true : false"  [required]="required"></app-country>
    </div>
    <div class="col-md-4">
        <app-address-type (notify)="onAddressTypeChange($event)" [value]="addressTypeId" [disabled]=" disabled ? true : false"  [required]="required"></app-address-type>
    </div>
</div>