
  <table mat-table [dataSource]="entities" matSort class="striped"  >
    <ng-container *ngFor="let column of columns" matColumnDef="{{column.name}}">
      <!-- <th mat-header-cell *matHeaderCellDef>{{'tableList.name' | translate}} </th> -->
      <th mat-header-cell *matHeaderCellDef>{{column.label}} </th>
  
      <td mat-cell *matCellDef="let element;let  i = index">
          <span *ngIf="column.name == 'no' ">
             {{i+pageIndex}}
            </span>
        <span *ngIf="column.name != 'action' ">
          {{element[column.name]}}
        </span>

        <span *ngIf="column.name == 'action' ">
          <app-details-button [routerLink]="[route,detailRoute, element.id]" *ngIf="details"></app-details-button>
          <app-edit-button  [routerLink]="[route, element.id]" *ngIf="access.edit"></app-edit-button>
          <!-- <app-edit-button (click)="editUser(element.id)"  [routerLink]="['useredit', element.email]"  *ngIf="access.edit"></app-edit-button> -->
  
          <span>
            <app-delete-button (click)="delete(element)" *ngIf="access.delete"></app-delete-button>
          </span>
        </span>

      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row" ></tr>
  </table>
  <mat-paginator [pageSize]="pageSize" showFirstLastButtons (page)="getPaginatorData($event)"></mat-paginator>




