<!-- <input type="file" name="file" id="file" (change)="onChange($event)" [multiple]="multiple"> -->

<mat-progress-bar mode="indeterminate" *ngIf="isUploading"></mat-progress-bar>

<div [formGroup]="sharedForm" style="width:100%">
  <div class="col-md-6">
    <app-document-type (notify)="onDocTypeChange($event)" [required]="required" [value]="docTypeId" [disabled]="disabled"></app-document-type>
  </div>

  <div class="col-md-6">
    <input style="display:none" formControlName="sharedFormControl" type="file" [accept]="accept"
      (change)="onChange($event)" [multiple]="multiple" #fileInput>
    <button type="button" mat-raised-button (click)="fileInput.click()">{{ buttonName | translate }}</button>&nbsp;
    
    <!-- <button type="button" mat-raised-button (click)="onClick()"
      [disabled]="!readyToPost">{{ 'upload.upload' | translate }}</button> -->
  </div>
  <div class="col-md-6">
    <app-chips [placeholder]="'global.tag'" (notify)="onTagEmit($event)" [value]="tagArray"></app-chips>
  </div>
</div>
<div *ngIf="files.length> 0">
  <table class="table table-hover css-serial">
    <thead>
      <tr>
        <th>{{'upload.fileName' | translate}}</th>
        <th>{{'upload.fileSize' | translate}}</th>
        <th>{{'upload.action' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of files; let index = index">
        <td>{{file.name}}</td>
        <td>{{ ((file.size / 1024) /1024) | number:'1.1-2' }} {{'upload.mb' | translate}}</td>
        <td>
          <app-delete-button (click)="delete(index)" [disabled]="isUploading"></app-delete-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>